@import url(https://fonts.googleapis.com/css?family=Poppins);

.blogpostlist__container {
  padding: 2%;
}

.blogpostlist__table {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.blogpostlist__table td,
.blogpostlist__table th {
  border: 1px solid rgb(73, 8, 8);
  padding: 8px;
}

.blogpostlist__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.blogpostlist__table tr:hover {
  background-color: #ddd;
}

table.blogpostlist__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: darkslategray;
  color: white;
}
