@import url(https://fonts.googleapis.com/css?family=Poppins);

.blogpost-form__container {
  display: block;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding: 2%;
  width: 100%;
  border: solid white;
}

.blogpost-form__heading {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.blogpost-form__style label,
.blogpost-form__style button {
  display: block;
}

.blogpost-form__style input,
.blogpost-form__style textarea {
  width: 90%;
}

.blogpost-form__style textarea {
  height: 300px;
  resize: vertical;
}

.blogpost-form__style button {
  margin-top: 10px;
}
